<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/contact-us.css">
</head>
<body>
<!-- 滚动公告 -->

<!-- 网站头部 -->
<include file="Public/index-head" />

<!-- 网站导航 -->
<include file="Public/index-nav" />

<!-- 网页主体内容 -->
<div class="wrapper clearfix member-wraper">
    <include file="Public/aboutus-left-nav" />

    <div class="main">
        <h3>Contact us</h3>
        <div class="main-content">
            <div class="position">
                <h4>Foshan (Head Office)</h4>
                <div class="item">
                    <label>Company Name</label>
                    <p><?php echo empty($fs['companyName']) ? '' : $fs['companyName'] ?></p>
                </div>
                <div class="item">
                    <label>Company Address</label>
                    <p><?php echo empty($fs['address']) ? '' : $fs['address'] ?></p>
                </div>
                <div class="item">
                    <label>Service Hotline</label>
                    <p><?php echo empty($fs['serviceTel']) ? '' : $fs['serviceTel'] ?></p>
                </div>
                <div class="item">
                    <label>Telephone</label>
                    <p><?php echo empty($fs['tel']) ? '' : $fs['tel'] ?></p>
                </div>
                <div class="item">
                    <label>Fax</label>
                    <p><?php echo empty($fs['fax']) ? '' : $fs['fax'] ?></p>
                </div>
                <div class="item">
                    <label>Email</label>
                    <p><?php echo empty($fs['email']) ? '' : $fs['email'] ?></p>
                </div>
                <div class="map fs">
                </div>
            </div>
            <div class="position">
                <h4>Guangzhou(Branch Office)</h4>
                <div class="item">
                    <label>Company Name</label>
                    <p><?php echo empty($gz['companyName']) ? '' : $gz['companyName'] ?></p>
                </div>
                <div class="item">
                    <label>Company Address</label>
                    <p><?php echo empty($gz['address']) ? '' : $gz['address'] ?></p>
                </div>
                <div class="item">
                    <label>Service Hotline</label>
                    <p><?php echo empty($gz['serviceTel']) ? '' : $gz['serviceTel'] ?></p>
                </div>
                <div class="item">
                    <label>Telephone</label>
                    <p><?php echo empty($gz['tel']) ? '' : $gz['tel'] ?></p>
                </div>
                <div class="item">
                    <label>Fax</label>
                    <p><?php echo empty($gz['fax']) ? '' : $gz['fax'] ?></p>
                </div>
                <div class="item">
                    <label>Email</label>
                    <p><?php echo empty($gz['email']) ? '' : $gz['email'] ?></p>
                </div>
                <div class="map gz">
                </div>
            </div>
            <div class="business-card">
                <h4>Business Cooperation</h4>
                <div class="card clearfix">
                    <div class="item">
                        <h5>Sales Partnership</h5>
                        <div class="contact">
                            <label>Contact</label>
                            <p><?php echo empty($p['name']) ? '' : $p['name'] ?></p>
                        </div>
                        <div class="contact">
                            <label>Telephone</label>
                            <p><?php echo empty($p['phone']) ? '' : $p['phone'] ?></p>
                        </div>
                        <div class="contact">
                            <label>Email</label>
                            <p><?php echo empty($p['mail']) ? '' : $p['mail'] ?></p>
                        </div>
                    </div>
                    <div class="item mid">
                        <h5>Purchasing Partnership</h5>
                        <div class="contact">
                            <label>Contact</label>
                            <p><?php echo empty($b['name']) ? '' : $b['name'] ?></p>
                        </div>
                        <div class="contact">
                            <label>Telephone</label>
                            <p><?php echo empty($b['phone']) ? '' : $b['phone'] ?></p>
                        </div>
                        <div class="contact">
                            <label>Email</label>
                            <p><?php echo empty($b['mail']) ? '' : $b['mail'] ?></p>
                        </div>
                    </div>
                    <div class="item">
                        <h5>Brand Promotion</h5>
                        <div class="contact">
                            <label>Contact</label>
                            <p><?php echo empty($e['name']) ? '' : $e['name'] ?></p>
                        </div>
                        <div class="contact">
                            <label>Telephone</label>
                            <p><?php echo empty($e['phone']) ? '' : $e['phone'] ?></p>
                        </div>
                        <div class="contact">
                            <label>Email</label>
                            <p><?php echo empty($e['mail']) ? '' : $e['mail'] ?></p>
                        </div>
                    </div>
                    <div class="item">
                        <h5>Investment Negotiation</h5>
                        <div class="contact">
                            <label>Contact</label>
                            <p><?php echo empty($i['name']) ? '' : $i['name'] ?></p>
                        </div>
                        <div class="contact">
                            <label>Telephone</label>
                            <p><?php echo empty($i['phone']) ? '' : $i['phone'] ?></p>
                        </div>
                        <div class="contact">
                            <label>Email</label>
                            <p><?php echo empty($i['mail']) ? '' : $i['mail'] ?></p>
                        </div>
                    </div>
                    <div class="item mid">
                        <h5>Customer Service</h5>
                        <div class="contact">
                            <label>Contact</label>
                            <p><?php echo empty($k['name']) ? '' : $k['name'] ?></p>
                        </div>
                        <div class="contact">
                            <label>Telephone</label>
                            <p><?php echo empty($k['phone']) ? '' : $k['phone'] ?></p>
                        </div>
                        <div class="contact">
                            <label>Email</label>
                            <p><?php echo empty($k['mail']) ? '' : $k['mail'] ?></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 页面通用底部 -->
<include file="Public/footer" />

</body>
<script src="__PUBLIC__/Home/lib/jquery/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/Home/js/contact-us.js"></script>
</html>