<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="__PUBLIC__/User/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/User/css/member-change-password.css">
</head>
<body>
<!-- 网站顶部 -->
<!-- 滚动公告 -->
<include file="Public/user-notice" />

<!-- 网站头部 -->
<include file="Public/member-head" />

<!-- 网页主体内容 -->
<div class="wrapper clearfix">
    <!-- 左边导航 -->
    <include file="Public/member-side"/>

    <div class="member-main">
        <p class="main-title">
            Change Password
        </p>

        <div class="change-password">
            <form>
                <div class="form-item">
                    <label>Old Password</label>
                    <input type="password" name="old_password" id="old_password">
                    <div class="incorrect tips"><div class="trigon-border"></div><div class="trigon"></div><i class="icon-tips"></i>The old password is incorrect</div>
                    <div class="required tips"><div class="trigon-border"></div><div class="trigon"></div><i class="icon-tips"></i>Please enter the  old Password!</div>
                </div>
                <div class="form-item">
                    <label>New Password</label>
                    <input type="password" name="password" id="password">
                    <div class="required tips"><div class="trigon-border"></div><div class="trigon"></div><i class="icon-tips"></i>Please enter the  new Password!</div>
                    <div class="tips long"><div class="trigon-border"></div><div class="trigon"></div><i class="icon-tips"></i>
                        Password should combined by  letters and numbers. In length between 6 to18 characters and Mach Case
                    </div>
                </div>
                <div class="form-item">
                    <label>Confirm New Password</label>
                    <input type="password" name="newpassword" id="newpassword">
                    <div class="required tips"><div class="trigon-border"></div><div class="trigon"></div><i class="icon-tips"></i>Please enter the Confirm Password!</div>
                    <div class="match tips"><div class="trigon-border"></div><div class="trigon"></div><i class="icon-tips"></i>Password Mismatch!</div>
                </div>
            </form>
            <a href="javascript:void(0)" class="submit">Submit</a>
        </div>
        <div class="succeed">
            <i class="icon-succeed"></i>
            <div class="cont">
                <p>Your password has been revised successfully!</p>
                <span>

                Please remember your new password and it will take you to the login page after <span class="second">5</span> seconds
                </span>
                <a href="javascript:void(0)" class="js_return">Return Now</a>
            </div>
        </div>
    </div>
</div>

<!-- 网页尾部 -->
<include file="Public/footer" />

</body>
<script src="__PUBLIC__/User/js/member-change-password.js"></script>
</html>
