#toolbar {
    padding: 10px;
    display: none;
}
#toolbar .btns {
    float: left;

}
#toolbar .search {
    margin-left: 300px;
}
.form-wrap {
    text-align: center;
    margin-top: 30px;
}

.easyui-linkbutton {
    outline: none;
}
