#toolbar {
    padding: 10px;
    display: none;
}
#toolbar .btns {
    float: left;
}
#toolbar .serch {
    margin-left: 30px;
}
.form-wrap {
    text-align: center;
    margin-top: 30px;
}
.area-select {
    display: none;
}
.easyui-linkbutton {
    outline: none;
}

#footerBar {
    padding: 6px;
}
#footerBar .tips {
    float: right;
    line-height: 20px;
}