@charset "UTF-8";
/**
 *  ---------------------------------------------
 *      author : admin
 *      data   : 2016-11-10 13:13:09
 *  ---------------------------------------------
 */
.scroll-news {
  position: relative;
  z-index: 20; }

.head {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 25px 0;
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.1); }
  .head .d-logo {
    width: 96px;
    padding-right: 30px;
    margin-top: -3px; }
    .head .d-logo .logo {
      display: block;
      max-width: 100%; }
  .head .head-tag {
    padding-left: 25px;
    height: 30px;
    line-height: 30px;
    color: #0096e0;
    font-size: 16px;
    border-left: 1px solid #0096e0; }
    .head .head-tag .alink {
      position: relative;
      color: #666;
      font-size: 16px;
      margin-right: 40px; }
      .head .head-tag .alink.active {
        color: #ff7422; }
        .head .head-tag .alink.active:after {
          position: absolute;
          bottom: -10px;
          left: 50%;
          margin-left: -14px;
          display: block;
          width: 28px;
          content: '';
          border-top: 2px solid #eb691c; }
  .head .part-rt {
    position: relative;
    float: right;
    color: #666; }
    .head .part-rt .user-p {
      display: block;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      cursor: pointer;
      color: #666; }
    .head .part-rt .user-p {
      display: block;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      cursor: pointer;
      color: #666; }
      .head .part-rt .user-p .u-link {
        color: #666; }
        .head .part-rt .user-p .u-link:hover {
          color: #4496f9; }
      .head .part-rt .user-p .cut-line {
        padding: 0 5px;
        font-style: normal; }
    .head .part-rt .logout .name {
      color: #666; }
      .head .part-rt .logout .name:hover {
        color: #4496f9; }
    .head .part-rt .hd-pic {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 45px;
      margin-right: 10px; }

.msg-num {
  position: absolute;
  padding: 1px 4px;
  top: -7px;
  left: 20px;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  background-color: #ff3232;
  -webkit-border-radius: 6px 6px 6px 0;
  border-radius: 6px 6px 6px 0;
  min-width: 12px;
  text-align: center;
  text-indent: 0; }

.top-barline {
  position: relative;
  z-index: 3px;
  background: #fff;
  border-bottom: 1px solid #f4f4f4; }

.top-tags {
  height: 30px;
  line-height: 30px; }
  .top-tags .tag {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: #999; }
  .top-tags .icon-home, .top-tags .icon-email {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    background-image: url(../icons/member-addGoods-infoModify/sprite.png);
    background-position: -21px -103px; }
  .top-tags .icon-email {
    margin-top: -1px;
    width: 16px;
    height: 12px;
    background-image: url(../icons/member-addGoods-infoModify/sprite.png);
    background-position: -51px -103px; }
  .top-tags .tag:hover {
    color: #4496f9; }
    .top-tags .tag:hover .icon-home, .top-tags .tag:hover .icon-email {
      background-image: url(../icons/member-addGoods-infoModify/sprite.png);
      background-position: -121px -74px; }
    .top-tags .tag:hover .icon-email {
      background-image: url(../icons/member-addGoods-infoModify/sprite.png);
      background-position: -35px -103px; }

.modal-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: .80;
  filter: alpha(opacity=80);
  z-index: 999;
  display: none; }

.modal {
  display: none;
  padding-bottom: 40px;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }
  .modal.tisType {
    padding: 0;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 4px; }
    .modal.tisType .modal-bd {
      padding: 0 30px;
      height: 46px;
      line-height: 46px;
      text-align: center;
      color: #fff;
      font-size: 16px; }
  .modal .modal-hd {
    position: relative;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    background: #4496f9;
    font-size: 12px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .modal .modal-hd .close {
      position: absolute;
      width: 18px;
      height: 18px;
      right: 10px;
      top: 6px;
      background-image: url(../icons/member-addGoods-infoModify/sprite.png);
      background-position: -103px -74px;
      cursor: pointer; }
  .modal .modal-bd {
    padding: 50px 50px 0; }
  .modal .modal-ft {
    height: 35px;
    line-height: 35px;
    text-align: center; }
    .modal .modal-ft .btn-modal {
      display: inline-block;
      margin-left: 40px;
      padding: 0 20px;
      height: 24px;
      line-height: 24px;
      border: 1px solid #3187F1;
      background: #3187F1;
      cursor: pointer;
      border-radius: 4px;
      color: #fff;
      font-size: 14px; }
      .modal .modal-ft .btn-modal:first-child {
        margin-left: 0; }
    .modal .modal-ft .btn-cancel {
      color: #3187F1;
      background: #fff; }

.chooseBox {
  background: #fff;
  width: 480px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
  position: absolute;
  z-index: 11;
  padding-bottom: 20px; }

.searchKey {
  display: none;
  line-height: 30px;
  height: 30px;
  padding: 7px;
  border-bottom: 1px solid #ccc; }

.searchKey label {
  color: #bdbdbd;
  font-size: 12px; }

input[type="text"] {
  border: 1px solid #C7C7C7;
  height: 23px;
  line-height: 23px;
  text-indent: 6px;
  padding: 0; }

.content {
  padding: 0; }

.choose-input-tip {
  font-size: 13px;
  color: #333;
  line-height: 28px; }

.search-list {
  height: 150px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  overflow-y: scroll; }

.search-list li {
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  height: 29px;
  line-height: 29px;
  border-bottom: 1px solid #ccc; }
  .search-list li .cont {
    padding: 0;
    text-indent: 20px; }
  .search-list li:hover {
    background: #f5f5f5; }

.char {
  text-align: center;
  display: inline-block;
  width: 80px;
  border-right: 1px solid #ccc; }

.seach-key {
  width: 210px;
  padding: 0; }

.filter {
  text-align: center;
  height: 39px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  font-size: 12px; }

.filter a {
  width: 3.3%;
  display: inline-block;
  text-align: center;
  color: #333; }

.filter a:last-child {
  width: 5%; }

.btn {
  display: inline-block;
  text-align: center;
  line-height: 25px;
  width: 50px;
  height: 25px;
  background: #666;
  color: #fff; }

.input-name {
  padding-left: 15px; }

.input-name span {
  font-size: 12px;
  color: #f00; }

#addTip {
  padding-left: 6px; }

.combo-box {
  list-style: none;
  width: 268px;
  border: 1px solid #dedede;
  position: absolute;
  background: #fff;
  max-height: 150px;
  overflow-y: auto;
  text-indent: 10px;
  z-index: 2; }

.combo-box > li {
  line-height: 30px;
  cursor: pointer; }
  .combo-box > li.option:hover {
    background: #4496f9; }

.combo-box > li:first-child {
  border-top: 0; }

.combo-item {
  height: 35px;
  margin-bottom: 20px;
  position: relative; }
  .combo-item input {
    width: 98px;
    height: 33px;
    line-height: 33px;
    text-indent: 10px;
    border: 1px solid #dedede;
    float: left; }
  .combo-item [data-combo="combo"] {
    width: 268px;
    margin-right: 10px; }
  .combo-item .del {
    line-height: 35px;
    color: #4496f9;
    margin-left: 20px;
    float: left; }
  .combo-item .add {
    float: left;
    margin-left: 20px;
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 0;
    background-image: url(../icons/member-addGoods-infoModify/sprite.png);
    background-position: -103px 0px; }
  .combo-item .down {
    font-size: 0;
    position: absolute;
    display: block;
    width: 10px;
    height: 6px;
    background-image: url(../icons/member-addGoods-infoModify/sprite.png);
    background-position: -111px -92px;
    left: 250px;
    top: 15px; }
  .combo-item .clear {
    font-size: 0;
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background-image: url(../icons/member-addGoods-infoModify/sprite.png);
    background-position: -103px -92px;
    left: 251px;
    top: 14px;
    cursor: pointer; }

body {
  background: #f4f4f4; }

.border-box, .brand-wraper, .field-col .field, .field-col .up-box-wrap .up-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.nowrap {
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden; }

.brand-wraper {
  background: #fff;
  padding: 25px 40px 40px;
  margin-top: 20px;
  margin-bottom: 60px; }
  .brand-wraper .blu {
    color: #4496f9; }
  .brand-wraper .tl-bar {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px; }

.step-bar {
  width: 900px;
  margin: 30px auto; }
  .step-bar .step-item {
    float: left;
    position: relative;
    margin-left: 20px;
    width: 278px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    border: 1px solid #999;
    color: #999;
    font-size: 14px; }
    .step-bar .step-item:before, .step-bar .step-item:after {
      position: absolute;
      z-index: 3;
      top: 0;
      right: -18px;
      content: '';
      border-left: 18px solid #fff;
      border-top: 28px solid transparent;
      border-bottom: 28px solid transparent; }
    .step-bar .step-item:after {
      z-index: 2;
      right: -19px;
      border-left-color: #999; }
    .step-bar .step-item.active {
      border-color: #4496f9;
      background: #d7efff;
      color: #4496f9; }
      .step-bar .step-item.active:before {
        border-left-color: #d7efff; }
      .step-bar .step-item.active:after {
        border-left-color: #4496f9; }
    .step-bar .step-item:first-child {
      margin-left: 0; }

.checked-tips {
  background: #f2f2f2;
  padding: 15px 20px;
  margin-top: 40px;
  margin-bottom: 30px; }
  .checked-tips .tips {
    color: #666; }
  .checked-tips .tag {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold; }
  .checked-tips .modify {
    color: #4496f9;
    font-weight: normal;
    margin-left: 30px; }

.btn-wrap {
  height: 35px;
  line-height: 35px;
  text-align: center; }
  .btn-wrap .submit-next {
    display: inline-block;
    margin-right: 20px;
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    background-color: #ff7422;
    color: #fff;
    border-radius: 5px;
    cursor: pointer; }
  .btn-wrap .cancel {
    color: #4496f9; }

.field-col {
  margin-bottom: 30px; }
  .field-col .col-bar {
    line-height: 26px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 50px;
    padding-bottom: 5px; }
    .field-col .col-bar .tl {
      font-weight: bold;
      font-size: 14px; }
  .field-col .field-item {
    margin-left: 140px;
    margin-bottom: 20px; }
    .field-col .field-item.indicator {
      margin-left: 294px; }
  .field-col .field-name {
    display: inline-block;
    white-space: nowrap;
    width: 144px;
    text-align: right;
    margin-right: 10px;
    height: 35px;
    line-height: 35px;
    color: #999; }
  .field-col .field-name2 {
    width: auto;
    padding-left: 20px; }
  .field-col .field-w {
    position: relative; }
    .field-col .field-w .e {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #999;
      font-family: '微软雅黑'; }
    .field-col .field-w .field {
      padding-left: 20px; }
  .field-col .field {
    width: 529px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #dedede; }
  .field-col textarea.field {
    line-height: 18px;
    height: 85px;
    max-height: 85px;
    max-width: 529px; }
  .field-col select.field option {
    color: #333; }
  .field-col select.selecting {
    color: #333; }
  .field-col div.up-wrap {
    height: auto;
    padding: 20px; }
  .field-col .field-min {
    width: 170px;
    margin-right: 10px; }
  .field-col .field-min2 {
    width: 120px; }
  .field-col .field-min3 {
    width: 100px; }
  .field-col .line {
    color: #a9a9a9;
    line-height: 36px;
    padding: 0 10px; }
  .field-col .tips-wrap, .field-col .msg-box {
    position: relative;
    display: inline-block;
    height: 35px;
    line-height: 25px; }
    .field-col .tips-wrap.bt, .field-col .msg-box.bt {
      margin-top: 50px; }
    .field-col .tips-wrap input, .field-col .msg-box input {
      display: inline-block;
      vertical-align: top;
      margin: 10px 5px 0 0; }
  .field-col .tips-wrap {
    line-height: 35px; }
  .field-col .msg-box {
    display: none; }
  .field-col .tips, .field-col .msg-er {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
    line-height: 15px;
    color: #999; }
    .field-col .tips.abs, .field-col .msg-er.abs {
      position: absolute;
      left: 10px;
      width: 200px;
      font-style: normal;
      color: #999;
      line-height: 18px;
      background: #f2f2f2;
      padding: 10px; }
      .field-col .tips.abs:before, .field-col .msg-er.abs:before {
        position: absolute;
        top: 10px;
        left: -6px;
        display: block;
        content: '';
        border-right: 6px solid #f2f2f2;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent; }
  .field-col .error-item .msg-box {
    display: inline-block; }
  .field-col .error-item .tips-wrap {
    display: none; }
  .field-col .error-item .kp {
    display: block; }
  .field-col .red {
    color: #e60000;
    font-style: normal; }
  .field-col .up-wrap {
    color: #999; }
    .field-col .up-wrap .up-item {
      height: 26px;
      line-height: 26px;
      margin-top: 15px; }
      .field-col .up-wrap .up-item:first-child {
        margin-top: 0; }
      .field-col .up-wrap .up-item .msg-box {
        float: right;
        margin-right: 200px; }
    .field-col .up-wrap .up-tips {
      margin-left: 20px;
      padding-right: 20px;
      border-right: 1px solid #999; }
    .field-col .up-wrap .up-name {
      display: inline-block;
      vertical-align: middle;
      width: 38px;
      text-align: right; }
      .field-col .up-wrap .up-name.req {
        color: #e60000; }
    .field-col .up-wrap .up-btn {
      display: inline-block;
      vertical-align: middle;
      padding: 0 15px;
      height: 20px;
      line-height: 20px;
      background-color: #ff7422;
      border-radius: 5px;
      color: #fff;
      margin-left: 20px;
      cursor: pointer; }
    .field-col .up-wrap .icon-rit {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      width: 21px;
      height: 15px;
      background-image: url(../icons/member-addGoods-infoModify/sprite.png);
      background-position: 0px -103px; }
  .field-col .photo-box {
    width: 952px;
    margin: -20px auto 0; }
  .field-col .up-box-wrap .up-box {
    position: relative;
    width: 105px;
    height: 105px;
    padding-top: 30px;
    text-align: center;
    border: 1px solid #e4e4e4;
    margin-left: 36px;
    cursor: pointer;
    background-image: url(../icons/member-addGoods-infoModify/sprite.png);
    background-position: 0px 0px; }
    .field-col .up-box-wrap .up-box:first-child {
      margin-left: 0; }
    .field-col .up-box-wrap .up-box .up-tips {
      color: #4496f9;
      margin-top: 10px;
      display: block;
      cursor: pointer; }
    .field-col .up-box-wrap .up-box.finishUp .img-wrap {
      display: block; }
  .field-col .up-box-wrap .img-wrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 103px;
    background: #fff; }
    .field-col .up-box-wrap .img-wrap img {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%; }
    .field-col .up-box-wrap .img-wrap .layer {
      display: none;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9); }
    .field-col .up-box-wrap .img-wrap .icon-del {
      display: inline-block;
      vertical-align: middle;
      width: 31px;
      height: 39px;
      background-image: url(../icons/member-addGoods-infoModify/sprite.png);
      background-position: -103px -35px; }
    .field-col .up-box-wrap .img-wrap:hover .layer {
      display: block; }
  .field-col .photo-tips {
    margin-top: 20px;
    background: #f2f2f2;
    padding: 10px;
    color: #666;
    line-height: 18px; }
    .field-col .photo-tips .pop {
      position: relative;
      color: #4496f9;
      margin-left: 5px;
      cursor: pointer; }
      .field-col .photo-tips .pop .pop-img {
        position: absolute;
        z-index: 10;
        top: -8px;
        left: 92px;
        width: 200px;
        height: 200px;
        padding: 8px;
        background: #fff;
        -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
        display: none;
        cursor: default; }
        .field-col .photo-tips .pop .pop-img:before {
          position: absolute;
          left: -8px;
          content: '';
          border-right: 8px solid #fff;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent; }
        .field-col .photo-tips .pop .pop-img img {
          width: 100%;
          height: 100%; }
      .field-col .photo-tips .pop:hover .pop-img {
        display: block; }
  .field-col.productBasic .field-item {
    position: relative; }
    .field-col.productBasic .field-item .msg-box {
      width: 1000px;
      position: absolute;
      top: 29px;
      left: 150px; }
    .field-col.productBasic .field-item .msg-box[for="price"] {
      left: -5px; }
  .field-col.introduction .msg-box {
    width: 230px; }

.webuploader-container {
  position: relative; }
  .webuploader-container .webuploader-element-invisible {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px); }
  .webuploader-container label {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0); }

.sys-tips {
  margin-top: 26px;
  background: #ffdbdb;
  border: 1px solid #ff9c9c;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #333; }
  .sys-tips .reason {
    color: #f00; }

.tl-tips {
  text-align: center;
  line-height: 30px; }

.modal {
  padding-bottom: 25px; }
  .modal .modal-bd {
    padding: 25px 50px; }

.stock-bar-wrap {
  font-style: normal; }
  .stock-bar-wrap label {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    line-height: 35px; }
    .stock-bar-wrap label input {
      display: inline-block;
      vertical-align: middle;
      margin: -2px 3px 0 0; }
  .stock-bar-wrap .stock-bar {
    position: relative;
    width: 120px; }
    .stock-bar-wrap .stock-bar .bar-name {
      padding: 0 10px; }
    .stock-bar-wrap .stock-bar .stock-bar-content {
      display: none;
      position: relative;
      padding: 20px 10px; }
      .stock-bar-wrap .stock-bar .stock-bar-content label {
        margin-right: 10px; }
  .stock-bar-wrap .stock-bar1 {
    width: 90px; }
    .stock-bar-wrap .stock-bar1.active .bar-name {
      position: relative;
      z-index: 2;
      border: 1px solid #c7c7c7;
      border-bottom: none;
      background: #fff; }
    .stock-bar-wrap .stock-bar1.active .stock-bar-content {
      display: block;
      top: -1px;
      width: 372px;
      border: 1px solid #c7c7c7; }
  .stock-bar-wrap .label-inventoryNum {
    position: relative; }
    .stock-bar-wrap .label-inventoryNum .text {
      border: 1px solid #dedede;
      height: 35px;
      margin-left: 5px;
      width: 156px; }
    .stock-bar-wrap .label-inventoryNum .msg-box {
      top: 0px !important;
      left: 280px !important; }
