<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Syetem Message</title>
    <link rel="stylesheet" href="__PUBLIC__/User/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/User/css/member-messages.css">
</head>
<body>
<include file="Public/user-notice" />
<include file="Public/member-head" />
<div class="wrapper clearfix member-wraper">

<include file="Public/member-side" />
    <div class="fl member-main">
        <div class="top-bar clearfix"><span class="fl bar-tl">Syetem Message </span></div>
<notempty name="list">
        <div class="main-content">
            <div class="list-search">
                <div class="btns clearfix"><span class="fl btn checkall">Select All</span><span class="fl btn uncheckall">Unselect All</span> <span class="fl btn multi-delete">Delete</span></div>
                <div class="search-bar clearfix">
                    <notempty name="pageinfo"><span class="size-sp fl"><em class="red">{$pageinfo.count}</em>results <em class="red">{$pageinfo.page}</em>/{$pageinfo.pagecount}</span>
                    <form action="__ACTION__" method='get' class="js_searchForm">
                    <label class="key-label fr"><input type="text" name="keyword" value="<?php if(!empty($_GET['keyword'])){ echo htmlspecialchars($_GET['keyword']); } ?>" placeholder="Enter a Keywords"><span class="submit-btn"><i class="icon-gl"></i></span></label>
					</form>
                  <!-- <label class="sr-label fr">
                        <span class="field-name">Time</span>
                        <select name="" class="field">
                            <option value="">last 30 days</option>
                        </select>
                    </label>-->

                </div>

                <table class="findGoods-list">
                    <tr>
                        <th colspan="2">Content</th>
                        <th class="oper">Sender</th>
                        <th class="time">Sendtime</th>
                        <th class="oper">Operation</th>
                    </tr>
                    <volist name='list' id='vo'>
                    <tr class="list-item" data-id="{$vo.id}">
                        <td><input type="checkbox" class="checkone"></td>
                        <td><div class="inner"><a class="link" href="javascript:void(0)">{$vo.content}</a></div></td>
                        <td>{$vo.from}</td>
                        <td>{$vo.sendTime|date="H:i:s F d,Y",###}</td>
                        <td>
                            <span class="icon-del"></span>
                        </td>
                    </tr>
                    </volist>
                </table>

                <notempty name="show"><div class="pagination">
                    <div class="handle">
                       {$show}
                    </div>
                </div>
				</notempty>
            </div>
        </div>
<else/>
        <!--我的收藏列表为空-->
        <div class="list-none">
            <div class="warn-wrap">
                <i class="icon-warn"></i>
                <p class="tips">No System Messages</p>
            </div>
        </div>
</notempty>
    </div>
</div>

<include file="Public/footer" />
</body> 
    <script src="__PUBLIC__/User/js/member-messages.js"></script>
</html>