<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Buy Offers</title>
    <link rel="stylesheet" href="__PUBLIC__/User/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/User/css/find-goods.css">
</head>
<body>
    <!-- 网站顶部 -->
    <!-- 滚动公告 -->
    <include file="Public/user-notice" />


    <!-- 网站头部 - 未登录-->
    <div class="header">
    <div class="wrapper header-wrapper">
        <p class="tel"><span class="tel-sp"><i class="icon-tel"></i>Support:</span>4008-488-999</p>
        <div class="logo-search clearfix">
            <div class="logo fl">
                <a href="#"><img src="__PUBLIC__/User/images/logo.png" alt="logo"></a>
            </div>

            <div class="header-search">
                <div class="select">
                    <ul class="select-list">
                        <li data-type="1">Mall</li>
                        <li data-type="2">Mall</li>
                        <li data-type="3">Mall</li>
                        <li data-type="4">Mall</li>
                    </ul>
                    <p class="select-title">Mall</p>
                    <span class="select-btn"><i class="icon-arrow"></i></span>
                </div>
                <form action="" class="header-form">
                    <input type="hidden" name="type">
                    <input type="text" name="keywrod" class="keyword" placeholder="Search for products or buy offers">
                    <span class="search-btn js_headerSearch"><i class="icon-gl"></i>search</span>
                </form>
            </div>

            <div class="part-rt">
                
                    <a class="user-p sign-in"><i class="icon-sign"></i>Sign in</a>
                
                
            </div>
        </div>
    </div>
</div>

    <!-- 网站头部  - 已登录-->
    <div class="header">
    <div class="wrapper header-wrapper">
        <p class="tel"><span class="tel-sp"><i class="icon-tel"></i>Support:</span>4008-488-999</p>
        <div class="logo-search clearfix">
            <div class="logo fl">
                <a href="#"><img src="__PUBLIC__/User/images/logo.png" alt="logo"></a>
            </div>

            <div class="header-search">
                <div class="select">
                    <ul class="select-list">
                        <li data-type="1">Mall</li>
                        <li data-type="2">Mall</li>
                        <li data-type="3">Mall</li>
                        <li data-type="4">Mall</li>
                    </ul>
                    <p class="select-title">Mall</p>
                    <span class="select-btn"><i class="icon-arrow"></i></span>
                </div>
                <form action="" class="header-form">
                    <input type="hidden" name="type">
                    <input type="text" name="keywrod" class="keyword" placeholder="Search for products or buy offers">
                    <span class="search-btn js_headerSearch"><i class="icon-gl"></i>search</span>
                </form>
            </div>

            <div class="part-rt">
                
                
                    <a class="user-p logout"><img class="hd-pic" src="__PUBLIC__/User/images/user_hd_pic.png" alt=""><span class="name">Sign out</span></a>
                
            </div>
        </div>
    </div>
</div>

    <!-- 网站导航 -->
    <div class="nav">
    <div class="wrapper">
        <div class="nav-menu">
            <div class="nav-title">all categories</div>
            <div class="nav-column">
                <ul class="column-list">
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                </ul>

                <div class="column-sub">

                    <div class="sub-bk clearfix">
                        <div class="subs">
                            <ul class="sub-list">
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-recommen">
                            <ul class="sub-recommen-list">
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sub-bk clearfix">
                        <div class="subs">
                            <ul class="sub-list">
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive2</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-recommen">
                            <ul class="sub-recommen-list">
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sub-bk clearfix">
                        <div class="subs">
                            <ul class="sub-list">
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive3</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-recommen">
                            <ul class="sub-recommen-list">
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sub-bk clearfix">
                        <div class="subs">
                            <ul class="sub-list">
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive4</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-recommen">
                            <ul class="sub-recommen-list">
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-link">
            <a href="#" >Home</a>
            <a href="#" >Mall</a>
            <a href="#" class="active">Buy offers</a>
        </div>
    </div>
</div>
    <!-- 网页主体内容 -->
    <div class="wrapper">
        <div class="stepwrap">
            <h3>
                How to post your buying request ?
            </h3>
            <div>
                <div class="step">
                    <p class="step-title">
                        step 1
                    </p>
                    <p class="step-cont">
                        <i class="icon-step1"></i>
                        <span>Register as a Member</span>
                    </p>
                </div>
                <i class="icon-next"></i>
                <div class="step">
                    <p class="step-title">
                        step 2
                    </p>
                    <p class="step-cont">
                        <i class="icon-step2"></i>
                        <span>Improve your information</span>
                    </p>
                </div>
                <i class="icon-next"></i>
                <div class="step">
                    <p class="step-title">
                        step 3
                    </p>
                    <p class="step-cont">
                        <i class="icon-step3"></i>
                        <span>Get free inquiry immediately </span>
                    </p>
                </div>
            </div>
        </div>

        <div id="js_filterChecked" class="filered clearfix">
            <span class="filered-item">
                Categories: <em class="text">Petroleum Chemical</em>
                <em class="txt-close" data-key="category">×</em>
            </span>
            <span class="filered-item">
                Brands: <em class="text">Petroleum Chemical</em>
                <em class="txt-close" data-key="brand">×</em>
            </span>
        </div>

        <div class="findgood-main clearfix">

            <!-- 搜索选择栏 -->
            <div class="main-filter">
                <div class="filter-col">
                    <div class="col-tl">Country</div>
                    <div class="col-opts">
                        <ul class="checkbox-list">
                            <li class="checkbox-item"><label data-country=""><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label data-country=""><i class="icon-cked"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-cked"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-cked"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-cked"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-cked"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-cked"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business typebusiness typebusiness typebusiness typebusiness typebusiness typebusiness type</label></li>
                            <li class="checkbox-item"><label><i class="icon-cked"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-cked"></i>business type</label></li>
                            <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                        </ul>
                    </div>
                </div>
                <div class="filter-col">
                    <div class="col-tl">Business Type</div>

                    <ul class="checkbox-list">
                        <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                        <li class="checkbox-item"><label><i class="icon-cked"></i>business type</label></li>
                        <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                        <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                        <li class="checkbox-item"><label><i class="icon-cked"></i>business type</label></li>
                        <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                        <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                        <li class="checkbox-item"><label><i class="icon-cked"></i>business type</label></li>
                        <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                        <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                        <li class="checkbox-item"><label><i class="icon-cked"></i>business type</label></li>
                        <li class="checkbox-item"><label><i class="icon-ck"></i>business type</label></li>
                    </ul>

                </div>
            </div>

            <!-- 无搜索-->
            <div class="results">
                <p class="no-search">
                    <span class="red">1972</span>
                    <span>results</span>
                    <span class="no-search">of "<span class="red">Amino1-propano</span>" </span>
                    <span>
                        <span class="red page">1</span>
                        <span>/</span>
                        <span>21</span>
                    </span>
                </p>
                <a href="{:U(Buyoffer/BuyofferRelease)}">
                    Post Buying Request
                </a>
            </div>

            <!-- 搜索有结果 -->
            <div class="results">
                <p>
                    <span class="red">1972</span>
                    <span>results</span>
                    <span class="no-search">of "<span class="red">Amino1-propano</span>" </span>
                    <span>
                        <span class="red page">1</span>
                        <span>/</span>
                        <span>21</span>
                    </span>
                </p>
                <a href="javascript:void(0)">
                    Post Buying Request
                </a>
            </div>

            <!-- 搜索无结构 -->
            <div class="results">
                <p>
                    <span class="red">0</span>
                    <span>results</span>
                    <span class="no-search">of "<span class="red">Amino1-propano</span>" </span>
                    <!-- <span>
                        <span class="red page">1</span>
                        <span>/</span>
                        <span>21</span>
                    </span> -->
                </p>
                <a href="javascript:void(0)">
                    Post Buying Request
                </a>
            </div>

            <!-- 搜索无结果列表 -->
            <div class="search-none">
                <div class="inner">
                    <i class="icon-warn"></i>
                    <p class="tips">Your search <em class="keyword r">"Amino1-propanol"</em> did not match any products.</p>
                    <dl>
                        <dt>You may consider to:</dt>
                        <dd>• Check the spelling </dd>
                        <dd>• Use less keywords</dd>
                        <dd>• Use different keywor</dd>
                    </dl>
                </div>
            </div>

            <!-- 求购列表 -->
            <ul class="findgood-list">
                <!-- 每页20条记录 -->
                <volist name='list' id='vo'>
                <li>
                    <div>
                        <p class="findgood-title">{$vo.title}</p>
                        <P>
                            <span class="type">Type: <span> {$vo.type}</span></span>
                            <span>Location: <span><i class="country-CN"></i>GuangDong FoShan</span></span>
                        </P>
                    </div>
                    <a href="{:U('Buyoffer/BuyOfferDetails')}?id={$vo.id}">View Details</a>
                </li>
                </volist>
                    
            </ul>
        </div>
        <!-- 页码 -->
        <div class="pagination">
            <div class="handle">
            {$show}
            <!--  
                <a href="" class="prev"><i class="icon-prev"></i>Previous Page</a>
                <a href="" class="size">1</a>
                <a href="" class="size current">2</a>
                <a href="" class="size">3</a>
                <a href="" class="size">4</a>
                <span class="sl">…</span>
                <a href="" class="size">20</a>
                <a href="" class="next">Next Page<i class="icon-next"></i></a>
                -->
            </div>
        </div>
    </div>




    <!-- 页面通用底部 -->
 <include file="Public/footer" />
</body>
    <script src="__PUBLIC__/User/js/find-goods.js"></script>
</html>
