<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Buy Offers Detail</title>
    <link rel="stylesheet" href="__PUBLIC__/User/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/User/css/find-goods-detail.css">
</head>
<body>
    <!-- 滚动公告 -->
    <include file="Public/user-notice" />


    <!-- 网站头部 -->
    <div class="header">
    <div class="wrapper header-wrapper">
        <p class="tel"><span class="tel-sp"><i class="icon-tel"></i>Support:</span>4008-488-999</p>
        <div class="logo-search clearfix">
            <div class="logo fl">
                <a href="#"><img src="__PUBLIC__/User/images/logo.png" alt="logo"></a>
            </div>

            <div class="header-search">
                <div class="select">
                    <ul class="select-list">
                        <li data-type="1">Mall</li>
                        <li data-type="2">Mall</li>
                        <li data-type="3">Mall</li>
                        <li data-type="4">Mall</li>
                    </ul>
                    <p class="select-title">Mall</p>
                    <span class="select-btn"><i class="icon-arrow"></i></span>
                </div>
                <form action="" class="header-form">
                    <input type="hidden" name="type">
                    <input type="text" name="keywrod" class="keyword" placeholder="Search for products or buy offers">
                    <span class="search-btn js_headerSearch"><i class="icon-gl"></i>search</span>
                </form>
            </div>

            <div class="part-rt">
                
                
                    <a class="user-p logout"><img class="hd-pic" src="__PUBLIC__/User/images/user_hd_pic.png" alt=""><span class="name">Sign out</span></a>
                
            </div>
        </div>
    </div>
</div>

    <!-- 网站导航 -->
    <div class="nav">
    <div class="wrapper">
        <div class="nav-menu">
            <div class="nav-title">all categories</div>
            <div class="nav-column">
                <ul class="column-list">
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                </ul>

                <div class="column-sub">

                    <div class="sub-bk clearfix">
                        <div class="subs">
                            <ul class="sub-list">
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-recommen">
                            <ul class="sub-recommen-list">
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="images/1.jpg" alt=""></a>
                                </li>
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="images/1.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sub-bk clearfix">
                        <div class="subs">
                            <ul class="sub-list">
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive2</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-recommen">
                            <ul class="sub-recommen-list">
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="images/1.jpg" alt=""></a>
                                </li>
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="images/1.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sub-bk clearfix">
                        <div class="subs">
                            <ul class="sub-list">
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive3</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-recommen">
                            <ul class="sub-recommen-list">
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="images/1.jpg" alt=""></a>
                                </li>
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="images/1.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sub-bk clearfix">
                        <div class="subs">
                            <ul class="sub-list">
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive4</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-recommen">
                            <ul class="sub-recommen-list">
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="images/1.jpg" alt=""></a>
                                </li>
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="images/1.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-link">
            <a href="#" >User</a>
            <a href="#" >Mall</a>
            <a href="#" class="active">Buy offers</a>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="crumbs">
        <a class="crumb-item" href="">Buy offers</a>
        <a class="crumb-item current" href="">> Details</a>
    </div>
    <div class="main clearfix">
        <div class="fl part-lt">
            <div class="details">
                <p class="title">{$res.title}</p>
                <div class="info">{$res.content}</div>
            </div>
            <ul class="detail-tag">
                <li class="tag-item"><span class="tag-name">Post:</span><span class="tag-val">{$res.updateTime|date="F d,Y",###}</span></li>
                <li class="tag-item"><span class="tag-name">Exp:</span><span class="tag-val">{$res.times|date="F d,Y",###}</span></li>
                <li class="tag-item"><span class="tag-name">Type:</span><span class="tag-val">{$res.type}</span></li>
                <li class="tag-item"><span class="tag-name">Location:</span><span class="tag-val">GuangDong FoShan</span></li>
            </ul>
        </div>
        <div class="fl part-rt">
            <div class="user-info">
                <div class="info-wrap">
                    <img src="images/user.jpg" alt="">
                    <p class="name">Username123 Username123 Username123</p>
                    <p class="ltd"> XXXXCXCX Co., Ltd. </p>
                    <p class="country">United States</p>
                </div>
                <a href="<?php echo $loginUid ? U( '/User/Message/sendMessage', array( 'id' => $res['Uid'] ) ): U( '/User/index/login' );?>" class="contact-btn">Contact Now</a>
            </div>
            <?php
                    if( empty( $loginUid ) ){
?>
            <a href="{:U( '/User/index/login' )}" class="favorites js_collect"><i class="icon-star"></i>Add to Favorites</a>
            <?php
                    }else{
                        if( !$isCollect ){
                        ?>
            <a href="javascript:void(0);" class="favorites js_collect" data-id="<?php echo intval( $_GET['id'] )?>" data-type="0"><i class="icon-star"></i>Add to Favorites</a>
            <?php
                        }else{
                        ?>
            <a href="javascript:void(0);" class="favorites collected js_collectCancel" data-id="<?php echo intval( $_GET['id'] )?>" data-type="0"><i class="icon-star"></i>In your Favorites</a>
            <?php
                        }
                    }

?>
        </div>
    </div>
</div>




<include file="Public/footer" />
</body> 
    <script src="__PUBLIC__/User/js/find-goods-detail.js"></script>
</html>