#toolbar {
    padding: 10px;
}
.status-select {
    float: left;
}
.status-select label {
    float: left;
    height: 30px;
    line-height: 30px;
}

.search-company {
    margin-left: 400px;
}
.form-wrap {
    text-align: center;
    margin-top: 30px;
}

