<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Forget-password Step One</title>
    <link rel="stylesheet" href="__PUBLIC__/User/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/User/css/forget-password.css">
</head>
<body>
<!-- 头部 -->
<include file="Public/user-head" />

<div class="wrapper">
    <h2>Reset Password</h2>
    <div class="stepwrap">
        <div class="step select">
            step 1: Verify Account
            <div class="triangle"></div>
        </div>
        <div class="triangle-bottom select"></div>
        <div class="step">
            Step 2: Rest Password
            <div class="triangle"></div>
        </div>
        <div class="triangle-bottom"></div>
        <div class="step">
            Rest Password Successful
            <div class="triangle"></div>
        </div>
        <div class="triangle-bottom"></div>
    </div>
    <p class="tips">
        Enter your mobile or email address and we will send  you a Verification Code to create a new password.
    </p>
    <form id="form" action="">
        <div class="main">
            <div id="msg-box"></div>
            <div class="choose clearfix">
                <span class="select mobile">Mobile</span>
                <span class="email">Email</span>
            </div>
            <div class="main-box clearfix">
                <div class="warn clearfix"></div>
                <input class="mobile" type="text" name="phone" value="" placeholder="Mobile">
                <input class="email" type="text" name="email" value="" placeholder="Email">
                <div class="clearfix">
                    <input class="code " type="text" name="msgCode" value="" placeholder="Verification Code ">
                    <a href="javascript:void(0)" class="send sending">send</a>
                </div>
                <div class="img-code">
                    <img src="{:U('User/Index/verify')}" alt="" />
                </div>
                <input type="text" class="code-tips" name="captcha" placeholder="Please Type the Text you See Above">
                <a href="javascript:void(0)" class="continue">Continue</a>
                <!--<p class="box-tips">-->
                    <!--已有中文版（keywa.com）账号，可以直接用中文版中 <a href="#">找回密码</a>-->
                <!--</p>-->
                <input type="hidden" name="uv_r" value="<php>echo mobileCache();</php>" id="uv_r">
            </div>
        </div>
    </form>
</div>

<!-- 页面通用底部 -->
<include file="Public/footer" />

</body>
<script src="__PUBLIC__/User/js/forget-password.js"></script>
</html>