<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>orget-password Step Three</title>
    <link rel="stylesheet" href="__PUBLIC__/User/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/User/css/forget-password-sucess.css">
</head>
<body>
<!-- 头部 -->
<include file="Public/user-head" />

<div class="wrapper">
    <h2>Reset Password</h2>
    <div class="stepwrap">
        <div class="step">
            step 1: Verify Account
            <div class="triangle"></div>
        </div>
        <div class="triangle-bottom"></div>
        <div class="step">
            Step 2: Rest Password
            <div class="triangle"></div>
        </div>
        <div class="triangle-bottom"></div>
        <div class="step select">
            Rest Password Successful
            <div class="triangle"></div>
        </div>
        <div class="triangle-bottom select"></div>
    </div>

    <div class="succ-info-wrap">
        <div class="content">
            <i class="succ-icon"></i>
            <div class="info">
                <p class="title">Reset Successful !</p>
                <p class="tips">
                    Return to sign-in page after <span class="count">5</span> seconds...
                </p>
                <p class="link">
                    <a href="{:U('User/Index/login')}" class="alink">Sign In Now</a>
                </p>
            </div>
        </div>
    </div>

</div>

<!-- 页面通用底部 -->
<include file="Public/footer" />

</body>
<script src="__PUBLIC__/User/js/forget-password-sucess.js"></script>
</html>