<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Forget-password Step Two</title>
    <link rel="stylesheet" href="__PUBLIC__/User/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/User/css/forget-password-step2.css">
</head>
<body>
<!-- 头部 -->
<include file="Public/user-head" />

<div class="wrapper">
    <h2>Reset Password</h2>
    <div class="stepwrap">
        <div class="step">
            step 1: Verify Account
            <div class="triangle"></div>
        </div>
        <div class="triangle-bottom"></div>
        <div class="step select">
            Step 2: Rest Password
            <div class="triangle"></div>
        </div>
        <div class="triangle-bottom select"></div>
        <div class="step">
            Rest Password Successful
            <div class="triangle"></div>
        </div>
        <div class="triangle-bottom"></div>
    </div>
    <p class="tips">
        Enter a new password.
    </p>
    <form id="form" action="">
        <div class="main">
            <div id="msg-box"></div>

            <div class="main-box clearfix">
                <div class="warn clearfix">

                </div>

                <input type="password" class="input-item" name="password" placeholder="New Password">
                <input type="password" class="input-item" name="repassword" placeholder="Confirm New Password">


                <a href="javascript:void(0)" class="continue">Continue</a>

            </div>
        </div>
    </form>
</div>

<!-- 页面通用底部 -->
<include file="Public/footer" />

</body>
<script src="__PUBLIC__/User/js/forget-password-step2.js"></script>
</html>
