<!DOCTYPE html>
<html>

<head>
    <title>数据管理--商家配置项管理</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/page/data/userConfig.css">
    <script type="text/javascript" src="/Public/Admin/js/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/lib/easyui/jquery.easyui.min.js"></script>
</head>

<body>
    <table id="dataGrid"></table>
    <!-- 表单操作栏 -->
    <div id="toolbar">
        <a href="javascript:void(0);" class="easyui-linkbutton js_exprot" data-options="iconCls:'icon-save'">备份</a>
        <a href="javascript:void(0);" class="easyui-linkbutton js_exprot" data-options="iconCls:'icon-reload'">还原</a>
    </div>
    <script type="text/javascript" src="/Public/Admin/js/data/staticData.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/page/data/userConfig.js"></script>
</body>

</html>
