<!DOCTYPE html>
<html>

<head>
    <title>微信密码</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/page/data/wxappsecret.css">
    <script type="text/javascript" src="/Public/Admin/js/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/lib/easyui/jquery.easyui.min.js"></script>
</head>

<body>
    <table id="dataGrid"></table>

    <!-- 表单操作栏 -->
    <div id="toolbar">
        <div class="btns">
            <a href="javascript:void(0);" class="easyui-linkbutton addParent js_add" data-options="iconCls:'icon-add'">新增</a>
        </div>
    </div>

    <!-- 新增\修改弹窗 -->
    <div id="dlg" class="operate-dialog">
        <form id="js_revokeForm" method="post">
            <div class="form-wrap">
                <label for="appId">appId:</label>
                <input id="js_appId" type="text" data-options="required:true"  name="appId" class="easyui-validatebox" style="width: 60%" />
                <label for="appSecret">appSecret:</label>
                <input id="js_appSecret" type="text" data-options="required:true"  name="appSecret" class="easyui-validatebox" style="width: 60%" />
            </div>
        </form>
    </div>
    <script type="text/javascript" src="/Public/Admin/js/data/staticData.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/page/data/wxappsecret.js"></script>
</body>

</html>
