<div class="footer">
    <input type="hidden" id="_ActionToken_" name="_ActionToken_" value="<?php echo D( 'User/Member' )->getActionToken( array() );?>">
    <div class="ft-inner">

    <div class="footer-nav clearfix">
        <div class="fl home-link">
            <a href=""><img src="__PUBLIC__/User/images/logo.png" alt=""></a>
        </div>
        <div class="fl footer-nav-link">
            <dl>
                <dt class="dt">About Keywa</dt>
                <dd><a class="a-link" href="{:U('Home/Content/description')}">About us</a></dd>
                <dd><a class="a-link" href="{:U('Home/Content/contact')}">Contact us </a></dd>
                <dd><a class="a-link" href="{:U('Home/Content/news')}">Media Report </a></dd>
                <dd><a class="a-link" href="{:U('Home/Content/protocol')}">Terms of Use </a></dd>
                <dd><a class="a-link" href="{:U('Home/Content/legal')}">Legal statement</a></dd>
            </dl>
        </div>
        <div class="fl worktime">
            <p class="tel">Support</p>
            <div><a href="mailto:service@keywa.com" class="time">Email: service@keywa.com</a></div>
            <div><a href="javascript:viod(0);" class="time">QQ: 2471579734</a></div>
        </div>
        <div class="fr lang-link">
            <p class="tips">Language</p>
            <p class="alink">
                <a href="<?php echo C('CN_KEYWA_SITE') ?>" class="lang-sp"><!--<i class="icon-cn"></i>-->Chinese</a>
                <a href="<?php echo C('EN_KEYWA_SITE') ?>" class="lang-sp"><!--<i class="icon-en"></i>-->English</a>
            </p>
        </div>
    </div>

    <div class="copyright">Keywa.com © Copyright 2016 Keywa Inc. All rights reserved. <span class="icp">ICP No.:GuangDong14005764</span></div>

    </div>
</div>
<script src="__PUBLIC__/Home/lib/jquery/jquery-1.9.1.min.js"></script>