    <div class="nav">
    <div class="wrapper">
        <div class="nav-menu">
            <div class="nav-title">all categories</div>
            <div class="nav-column">
                <ul class="column-list">
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                    <li class="column-item">
                        <div class="column-m">
                            <a class="column-name" href="">Paint & Coating & Ink</a>
                            <p class="recommen"><a class="recommen-a" href="">Food Additive</a><a class="recommen-a" href="">Food Additive</a></p>
                            <i class="icon-rt"></i>
                        </div>
                    </li>
                </ul>

                <div class="column-sub">

                    <div class="sub-bk clearfix">
                        <div class="subs">
                            <ul class="sub-list">
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-recommen">
                            <ul class="sub-recommen-list">
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sub-bk clearfix">
                        <div class="subs">
                            <ul class="sub-list">
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive2</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-recommen">
                            <ul class="sub-recommen-list">
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sub-bk clearfix">
                        <div class="subs">
                            <ul class="sub-list">
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive3</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-recommen">
                            <ul class="sub-recommen-list">
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sub-bk clearfix">
                        <div class="subs">
                            <ul class="sub-list">
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive4</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                                <li class="sub-item">
                                    <a href="" class="sub-title">Food Additive</a>
                                    <p class="child"><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a><a href="" class="child-item">Food Additive</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-recommen">
                            <ul class="sub-recommen-list">
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                                <li class="sub-recommen-item">
                                    <a class="title">(R)-(-)-2-Amino-1-propanol</a>
                                    <p class="price">$ 999 <em class="t">/ton</em></p>
                                    <a href="" class="pic-wrap"><img class="pic" src="__PUBLIC__/User/images/1.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-link">
            <a href="#" >Home</a>
            <a href="#" >Mall</a>
            <a href="#" class="active">Buy offers</a>
        </div>
    </div>
</div>
