<div class="head">
    <div class="wrapper">
        <div class="logo-search clearfix">
            <div class="d-logo fl">
                <a href="/"><img class="logo" src="__PUBLIC__/User/images/logo.png" alt="logo"></a>
            </div>

            <div class="fl head-tag">Sign In or Register</div>

            <div class="fr top-tags">
                <a class="tag" href="/"><i class="icon-home"></i>Home</a>
                <a class="tag" href="mailto:service@keywa.com"><i class="icon-email"></i>service@keywa.com</a>
            </div>
        </div>
    </div>
</div>