
.user-info {
    overflow: hidden;
}
.user-info .face {
    margin-left: 20px;
    float: left;
    width: 260px;
    height: 180px;
    background: #666;
}
.user-info .face img {
    display: block;
    width: 260px;
    height: 180px;
}
.user-info .details {
    margin-left: 290px;
}
.user-info .details li {
    line-height: 40px;
}
.user-info .details .title {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.info {
    padding: 20px 0;
    font-size: 14px;
}
.info .title {
    padding-left: 20px;
}
.sort-wrap {
    overflow: hidden;
}
.sort {
    overflow: hidden;
    float: left;
    height: 40px;
    line-height: 40px;
    width:  50%;
    margin-top: 10px;
}
.sort.addr{
    width:100%;
}
.sort .title ,.long .title{
    float: left;
    width: 100px;
    text-align: right;
    color: #666;
}
.long {
    margin-top: 10px;
    line-height: 40px;
    overflow: hidden;
}
.long-content {
    display: block;
    margin-left: 120px;
    width: 70%;
    padding-top: 8px;
    line-height: 22px;
}
.line {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}
.history-wrap {
    padding: 20px;
}
.operation-list {
    line-height: 30px;
    font-size: 14px;
}
.btn-wrap {
    padding: 10px 20px;
}
.auth-info {
    font-size: 14px;
    padding: 30px 0;
}
.auth-info p {
    height: 36px;
    line-height: 36px;
}
.auth-info .title {
    display: inline-block;
    width: 150px;
    text-align: right;
}
.auth-info .show-img {
    margin-left: 20px;
}

.sign-info {
    max-width: 1200px;
}
.sign-info .sort {
    width: 33%;
}
.sign-info img {
    width: 160px;
    margin-right: 20px;
    border: 1px dotted #ccc;
}
.form-wrap {
    text-align: center;
    margin-top: 30px;
}
