<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>My Supply Offers - Publish</title>
    <link rel="stylesheet" href="__PUBLIC__/User/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/User/css/member-supply-detail.css">
</head>
<body>
<include file="Public/user-notice" />
<include file="Public/member-head" />
<div class="wrapper clearfix member-wraper">
<include file="Public/member-side" />
   
    <div class="fl member-main">
        <!-- or Modify Supply -->
        <div class="top-bar clearfix"><span class="fl bar-tl">New Supply</span></div>
        <div class="main-content">
            <form class="form" action='addSupply' method='POST'>
                <div class="form-item">
                    <label>
                        <span class="field-name">Subject</span><input type="text" name='title' class="field">
                    </label>
                </div>
                <div class="form-item">
                    <label>
                        <span class="field-name">Type</span>
                        <select name="type" class="field">
                        <volist name="type" id="vo">
                            <option value={$key}>{$vo}</option>
                        </volist>
                        </select>
                    </label>
                </div>
                <div class="form-item form-item-content">
                    <label>
                        <span class="field-name">Content</span>
                        <textarea name="content"  class="field"></textarea>
                    </label>
                </div>
                <div class="form-item">
                    <label>
                        <span class="field-name">Period of validity</span>
                        <select name="expire" class="field">
                        <volist name="date" id="vo">
                            <option value={$key}>{$vo}</option>
                            </volist>
                        </select>
                    </label>
                </div>
                <div class="form-btn">
                    <a href="javascript:void(0);" class="submit submit-btn">Submit</a>
                    <a href="{:U('Supply/lists')}" class="cancel-btn">cancel</a>
                </div>
            </form>
        </div>
        <!--发布成功提示-->
        <div class="pub-success">
            <div class="inner">
                <i class="icon-success"></i>
                <p class="tips">Have been submitted</p>
                <p class="tips">please wait for the auditing</p>
                <div class="btns"><a href="{:U('Supply/addSupply')}" class="add-btn">Add Again</a><a href="{:U('Supply/lists')}" class="cancel-btn">Return</a></div>
            </div>
        </div>
    </div>



</div>
<include file="Public/footer" />
</body>
<script src="__PUBLIC__/User/js/member-supply-detail.js"></script>
</html>