<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>头部</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/head.css">
</head>
<body>
    <!-- 网站顶部 -->
    <!-- 滚动公告 -->
<div id="js_scrollNews" class="scroll-news">
    <div class="news-wrapper clearfix">
        <span class="title"><i class="icon-news"> </i>Notice:</span>
        <div class="list-wrap">
            <ul class="list">
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </a></li>
            </ul>
        </div>
        <span class="txt-close">×</span>
    </div>
</div>


    <!-- 网站头部 - 未登录-->
    <div class="header">
    <div class="wrapper header-wrapper">
        <p class="tel"><span class="tel-sp"><i class="icon-tel"></i>Support:</span>4008-488-999</p>
        <div class="logo-search clearfix">
            <div class="logo fl">
                <a href="#"><img src="images/logo.png" alt="logo"></a>
            </div>

            <div class="header-search">
                <div class="select">
                    <ul class="select-list">
                        <li data-type="1">Mall</li>
                        <li data-type="2">Mall</li>
                        <li data-type="3">Mall</li>
                        <li data-type="4">Mall</li>
                    </ul>
                    <p class="select-title">Mall</p>
                    <span class="select-btn"><i class="icon-arrow"></i></span>
                </div>
                <form action="" class="header-form">
                    <input type="hidden" name="type">
                    <input type="text" name="keywrod" class="keyword" placeholder="Search for products or buy offers">
                    <span class="search-btn js_headerSearch"><i class="icon-gl"></i>search</span>
                </form>
            </div>

            <div class="part-rt">
                
                    <a class="user-p sign-in"><i class="icon-sign"></i>Sign in</a>
                
                
            </div>
        </div>
    </div>
</div>

    <!-- 网站头部  - 已登录-->
    <div class="header">
    <div class="wrapper header-wrapper">
        <p class="tel"><span class="tel-sp"><i class="icon-tel"></i>Support:</span>4008-488-999</p>
        <div class="logo-search clearfix">
            <div class="logo fl">
                <a href="#"><img src="images/logo.png" alt="logo"></a>
            </div>

            <div class="header-search">
                <div class="select">
                    <ul class="select-list">
                        <li data-type="1">Mall</li>
                        <li data-type="2">Mall</li>
                        <li data-type="3">Mall</li>
                        <li data-type="4">Mall</li>
                    </ul>
                    <p class="select-title">Mall</p>
                    <span class="select-btn"><i class="icon-arrow"></i></span>
                </div>
                <form action="" class="header-form">
                    <input type="hidden" name="type">
                    <input type="text" name="keywrod" class="keyword" placeholder="Search for products or buy offers">
                    <span class="search-btn js_headerSearch"><i class="icon-gl"></i>search</span>
                </form>
            </div>

            <div class="part-rt">
                
                
                    <a class="user-p logout"><img class="hd-pic" src="images/user_hd_pic.png" alt=""><span class="name">Sign out</span></a>
                
            </div>
        </div>
    </div>
</div>
</body>
   <script src="lib/jquery/jquery-1.9.1.min.js"></script>
    <script src="js/head.js"></script>
</html>