<div class="wrapper clearfix member-wraper">

    <div class="fl member-menu">
    <dl >
        <dt ><a href="" class="sp">Dashboard</a><i class="icon-rt"></i></dt>
    </dl>
    <dl >
        <dt ><a href="" class="sp">My Account</a><i class="icon-rt"></i></dt>
        <dd ><a href="" class="sp">Profile</a><i class="icon-rt"></i></dd>
        <dd ><a href="" class="sp">License Info.</a><i class="icon-rt"></i></dd>
    </dl>
    <dl >
        <dt ><a href="" class="sp">Settings</a><i class="icon-rt"></i></dt>
        <dd ><a href="" class="sp">Change Password</a><i class="icon-rt"></i></dd>
        <dd ><a href="" class="sp">Manage Verification Phones</a><i class="icon-rt"></i></dd>
        <dd ><a href="" class="sp">Manage Verification Email Address</a><i class="icon-rt"></i></dd>
    </dl>
    <dl >
        <dt ><a href="" class="sp">Message</a><i class="icon-rt"></i></dt>
        <dd ><a href="" class="sp">Syetem Message</a><i class="icon-rt"></i></dd>
        <dd ><a href="" class="sp">Mailbox</a><i class="icon-rt"></i></dd>
    </dl>
    <dl >
        <dt ><a href="" class="sp">My Favorites</a><i class="icon-rt"></i></dt>
    </dl>
    <dl class="active">
        <dt class="current"><a href="{:U('Member/BuyOfferList')}" class="sp">My Buy Offers</a><i class="icon-rt"></i></dt>
    </dl>
</div>
