
<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<title>奇化网，全球化工产业链资源整合平台</title>
<meta name="keywords" content="奇化网，全球化工产业链资源整合平台"/>
<meta name="description" content="奇化网，率先在中国推出B2P商业模式，致力于打造全球化工产业链整合平台，依托专业的线上线下化工产业互联网模式，挖掘链接全球化工产业资源，实现产业资源无缝对接，进而撬动数十万亿的化工产业市场。"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="format-detection" content="telephone=no, email=no"/>
<meta name="HandheldFriendly" content="true">
<meta name="screen-orientation" content="portrait">
<meta name="full-screen" content="yes">
<meta name="browsermode" content="application">
<meta name="x5-orientation" content="portrait">
<meta name="x5-fullscreen" content="true">
<meta name="x5-page-mode" content="app">
<script>;(function(){var clientWidth=document.documentElement.clientWidth;if(clientWidth>640){clientWidth=640};document.getElementsByTagName("html")[0].style.fontSize=clientWidth/6.4+"px";})();</script>
<link href="__PUBLIC__/User/css/commonh5.css" type="text/css" rel="stylesheet"/>
<link href="__PUBLIC__/User/css/exit-h5.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <!-- 头部背景 -->
    <div class="header-bg"></div>

    <div class="content">
        <div class="info">
            <div class="detail">
                <div class="exit-img">
                    <img src="__PUBLIC__/User/images/exit.png" alt="">
                </div>
                <div class="exit-tips">
                    Congratulations, you successfully submitted your cooperation intention!
                </div>
              <!--   <div class="exit-btn">
                    <input type="button" name="exit" value="Exit">
                </div> -->
            </div>
            
        </div>
    </div>
    <!-- 底部背景 -->
    <div class="footer-bg"></div>


</div>

</body>
<script src="__PUBLIC__/User/lib/jquery/jquery-1.9.1.min.js"></script>


<script src="__PUBLIC__/User/js/exit-h5.js"></script>
</html>