
<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<title>keywa,the global leader in chemical industry resource integration</title>
<meta name="keywords" content="奇化网，全球化工产业链资源整合平台"/>
<meta name="description" content="奇化网，率先在中国推出B2P商业模式，致力于打造全球化工产业链整合平台，依托专业的线上线下化工产业互联网模式，挖掘链接全球化工产业资源，实现产业资源无缝对接，进而撬动数十万亿的化工产业市场。"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="format-detection" content="telephone=no, email=no"/>
<meta name="HandheldFriendly" content="true">
<meta name="screen-orientation" content="portrait">
<meta name="full-screen" content="yes">
<meta name="browsermode" content="application">
<meta name="x5-orientation" content="portrait">
<meta name="x5-fullscreen" content="true">
<meta name="x5-page-mode" content="app">
<script>;(function(){var clientWidth=document.documentElement.clientWidth;if(clientWidth>640){clientWidth=640};document.getElementsByTagName("html")[0].style.fontSize=clientWidth/6.4+"px";})();</script>
<link href="__PUBLIC__/User/css/commonh5.css" type="text/css" rel="stylesheet"/>
<link href="__PUBLIC__/User/css/law-detail-h5.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <!-- 头部背景 -->
    <div class="header-bg"></div>

    <div class="content">
        <div class="info">
           <div class="details">
               <div class="law-title">Lagal Statement</div>
               <p class="main-text">Keywa.com belongs to Guangdong Keywa chemical trading center Co.,Ltd. If you access and use the Keywa.com website, you must fully accept the terms and conditions herein and the announcements posted from time to time on the Keywa.com website without any modification, and comply with the relevant laws, regulations and rules relating to the Internet and/or this website. Your access and use of the Keywa.com website will be deemed as your agreement and acceptance all such terms, conditions and announcements.</p>
               <div class="second-title">Information on this Website</div>
               <p class="main-text">The information about the members of Keywa.com or their products (including but not limited to the company names, contacts and contact details, product descriptions and specifications, related images, video, etc.) on this website is provided by Keywa and the relevant member on their own, Keywa and each member shall be solely liable for any themselves information provided by it in accordance with relevant laws. Keywa.com shall not be liable in any way for the accuracy, completeness, legitimacy or authenticity of such information. Further, Keywa.com shall not be liable in any way for any business activities that use or provide such information on this website or the risks thereof.</p>
               <p class="main-text single-text">Without the written consent of the legal rights owner, no one may display product images on this website. Any unauthorized use of such images on this website may violate international law, trademark law, privacy law, communications law, telecommunications law and other laws and regulations.</p>
               <p class="main-text single-text">You may download the information displayed on this website, provided that such information shall only be used for personal study and research and must not be used for any commercial purpose. All such information is protected by copyright law, whether it is expressly stated on the information or not. You may not distribute, modify, disseminate, reuse, recirculate or use the contents of this website for any public commercial purpose without the express written consent of Keywa.com or the copyright owner of such contents. </p>
               <div class="second-title">Opinions</div>
               <p class="main-text">Any opinion expressed on this website is the personal view of the author only and does not represent the opinions of Keywa.com. </p>
               <div class="second-title">Copyright and Trademark</div>
               <p class="main-text">Keywa.com. All Rights Reserved. All rights are protected by laws internationally. Unless otherwise marked or permitted to be used in such terms and rules of this website, all information available and accessible on this website is protected by intellectual property laws.</p>
               <p class="main-text">The logo or trademark of Keywa are the trademarks and trade names of the products and services of Guangdong Keywa chemical trading center Co.,Ltd. All other trademarks and product names which Guangdong Keywa chemical trading center Co.,Ltd claims no right may be the trademarks or registered trademarks of their respective owners. Without the written consent of Guangdong Keywa chemical trading center Co.,Ltd or other third parties that are entitled to use the trademarks on this website, nothing on this website shall be construed as authorizing the use of any trademark displayed on this website.</p>
               <div class="second-title">Disclaimer</div>
               <p class="main-text">Guangdong Keywa chemical trading center Co.,Ltd hereby specifically disclaims any legal liability with respect to the following:</p>
               <p class="main-text">(1) Keywa.com hereby declares that it makes no direct or indirect, statutory or contractual warrantees as to your use of the website, any contents or services related to this website, or other websites linked to this website and the contents thereof;</p>
               <p class="main-text">(2) The user shall bear all liabilities (including but not limited to, liability for negligence) for any loss or damage (including direct, indirect, special or consequential losses or damages, such as loss of revenue or profit, damage to the computer system or loss of data and other consequences) resulting from your use or use by any third party of the information on or linked to this website, or the information on other websites linked to this website due to any reason (including but not limited to negligence).</p>
               <p class="main-text single-text">By using this website, the user agrees to assume all the risks of browsing this website. Keywa.com, is just a platform which promoting chemical trading, used for chemical information exchange. The members of Keywa.com provide information by themselves. Keywa.com shall not be liable in any way for the accuracy, completeness, legitimacy or authenticity of such information. shall not be liable in any way for any direct, incidental, consequential, indirect or pecuniary losses resulting from a user’s access to information on the website.</p>
               <p class="main-text single-text">In the event of any inconsistency between the English and Chinese versions of this Disclaimer, the Chinese version will always prevail. </p>
           </div>
        </div>
    </div>
    <!-- 底部背景 -->
    <div class="footer-bg"></div>


</div>

</body>
<script src="__PUBLIC__/User/lib/jquery/jquery-1.9.1.min.js"></script>

<script src="__PUBLIC__/User/lib/validator/jquery.validator.min.js"></script>
<script src="__PUBLIC__/User/lib/validator/jquery.validatorConfig.js"></script>


<script src="__PUBLIC__/User/js/law-detail-h5.js"></script>
</html>