
<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<title>keywa,the global leader in chemical industry resource integration</title>
<meta name="keywords" content="奇化网，全球化工产业链资源整合平台"/>
<meta name="description" content="奇化网，率先在中国推出B2P商业模式，致力于打造全球化工产业链整合平台，依托专业的线上线下化工产业互联网模式，挖掘链接全球化工产业资源，实现产业资源无缝对接，进而撬动数十万亿的化工产业市场。"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="format-detection" content="telephone=no, email=no"/>
<meta name="HandheldFriendly" content="true">
<meta name="screen-orientation" content="portrait">
<meta name="full-screen" content="yes">
<meta name="browsermode" content="application">
<meta name="x5-orientation" content="portrait">
<meta name="x5-fullscreen" content="true">
<meta name="x5-page-mode" content="app">
<script>;(function(){var clientWidth=document.documentElement.clientWidth;if(clientWidth>640){clientWidth=640};document.getElementsByTagName("html")[0].style.fontSize=clientWidth/6.4+"px";})();</script>
<link href="__PUBLIC__/User/css/commonh5.css" type="text/css" rel="stylesheet"/>
<link href="__PUBLIC__/User/css/registerh5-success.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <!-- 头部背景 -->
    <div class="header-bg"></div>

    <div class="content">
        <div class="info">
            <div class="success-tips">
                <div>
                    <span class="bold-tips">A confirmation email has been sent to your mailbox</span>
                    <span class="my-email"><?php if(!empty($email)){ echo $email; } ?></span>
                </div>
                
                <span class="blue-tips">Please login your mailbox, and validate your registered email within 48 hours.</span>
            </div>
            <div class="text-group">
                <div class="text-title">
                    Which chemical product would you like to buy from or sell to China through Keywa?
                </div>
                <textarea name="intention" id="" cols="30" rows="10" placeholder="Please describe here." class="intention"></textarea>
                <div>
                    <span class="error-tips"></span>
                    <input type="button" class="confirm" value="Submit">
                </div>
                <input type="hidden" name="uv_r" value="<php>echo mobileCache();</php>" id="uv_r">
            </div>
        </div>
    </div>
    <!-- 底部背景 -->
    <div class="footer-bg"></div>


</div>

</body>
<script src="__PUBLIC__/User/lib/jquery/jquery-1.9.1.min.js"></script>

<script src="__PUBLIC__/User/lib/validator/jquery.validator.min.js"></script>
<script src="__PUBLIC__/User/lib/validator/jquery.validatorConfig.js"></script>


<script src="__PUBLIC__/User/js/registerh5-success.js"></script>
</html>