<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="__PUBLIC__/User/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/User/css/member-index.css">
</head>
<body>
    <!-- 滚动公告 -->
    <include file="Public/user-notice" />

    <div class="head">
    <div class="wrapper">
        <div class="logo-search clearfix">
            <div class="d-logo fl">
                <a href="#"><img class="logo" src="__PUBLIC__/User/images/logo.png" alt="logo"></a>
            </div>

            <div class="fl head-tag"><a class="alink active" href="">My Keywa</a>  <a class="alink" href="">Sell on Keywa</a></div>

            <div class="part-rt">
                <a class="user-p logout"><img class="hd-pic" src="__PUBLIC__/User/images/user_hd_pic.png" alt=""><span class="name">Sign out</span></a>
            </div>
        </div>
    </div>
</div>


<div class="wrapper clearfix member-wraper">
<include file="Public/member-side" />
    <div class="fl member-main">
        <div class="top-bar">Dashboard</div>
        <div class="main-content">

            <!--中国用户-->
            <div class="memnber-info clearfix">
                <div class="face fl">
                    <div class="pic-wrap">
                        <img src="__PUBLIC__/User/images/user.jpg" alt="">
                    </div>
                    <p class="name">Username123</p>
                </div>

                <div class="info fl">
                    <div class="info-item"><span class="f-name">Country:</span><span class="f-val">China（中国）</span></div>
                    <div class="info-item"><span class="f-name">Mobile:</span><a href="" class="f-val">86 138-0013-8000</a><i class="icon-edit"></i></div>
                    <div class="info-item"><span class="f-name">Email Address: </span><a href="" class="f-val">bmoddddsdflsd@adfa.com</a><i class="icon-edit"></i></div>
                </div>

            </div>

            <!--国际用户-->
            <div class="memnber-info lang-en clearfix">
                <div class="face fl">
                    <div class="pic-wrap">
                        <img src="__PUBLIC__/User/images/user.jpg" alt="">
                    </div>
                    <p class="name">Username123</p>
                </div>

                <div class="info fl">
                    <div class="info-item"><span class="f-name">Country:</span><span class="f-val">China（中国）</span></div>
                    <div class="info-item"><span class="f-name">Email Address: </span><a href="" class="f-val">bmoddddsdflsd@adfa.com</a><i class="icon-edit"></i></div>
                </div>

            </div>

            <!--中国用户-->
            <div class="member-status">
                <div class="status-bar"><span class="txt">Status</span></div>
                <ul class="clearfix">
                    <li class="status-item">
                        <a href="">
                        <p class="p-icon"><i class="icon-sts1"></i><span class="num">99+</span></p>
                        <p class="spec">Selling Products </p>
                        </a>
                    </li>
                    <li class="status-item">
                        <a href="">
                        <p class="p-icon"><i class="icon-sts2"></i><span class="num">5</span></p>
                        <p class="spec">Unread Messages </p>
                            </a>
                    </li>
                    <li class="status-item">
                        <a href="">
                        <p class="p-icon"><i class="icon-sts3"></i><span class="num">10</span></p>
                        <p class="spec">Buy Offers </p>
                            </a>
                    </li>
                    <li class="status-item">
                        <a href="">
                        <p class="p-icon"><i class="icon-sts4"></i><span class="num">33</span></p>
                        <p class="spec">Favorites Items </p>
                            </a>
                    </li>
                </ul>
            </div>

            <!--国际用户-->

            <div class="member-status lang-en">
                <div class="status-bar"><span class="txt">Status</span></div>
                <ul class="clearfix">
                    <li class="status-item">
                        <a href="">
                            <p class="p-icon"><i class="icon-sts2"></i><span class="num">5</span></p>
                            <p class="spec">Unread Messages </p>
                        </a>
                    </li>
                    <li class="status-item">
                        <a href="">
                            <p class="p-icon"><i class="icon-sts3"></i><span class="num">10</span></p>
                            <p class="spec">Buy Offers </p>
                        </a>
                    </li>
                    <li class="status-item">
                        <a href="">
                            <p class="p-icon"><i class="icon-sts4"></i><span class="num">33</span></p>
                            <p class="spec">Favorites Items </p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="member-status">
                <div class="status-bar clearfix"><span class="fl txt">Recent Message</span><a class="morelink fr" href="">More ></a></div>
                <ul class="clearfix">
                    <li class="msg-item">
                        <a class="txt" href="">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx x</a>
                        <a href="" class="see-btn">see detail</a>
                    </li>
                    <li class="msg-item">
                        <a class="txt" href="">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx x</a>
                        <a href="" class="see-btn">see detail</a>
                    </li>
                    <li class="msg-item">
                        <a class="txt" href="">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx x</a>
                        <a href="" class="see-btn">see detail</a>
                    </li>
                    <li class="msg-item">
                        <a class="txt" href="">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx x</a>
                        <a href="" class="see-btn">see detail</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>



    <div class="footer">

    <div class="ft-inner">

    <div class="footer-nav clearfix">
        <div class="fl User-link">
            <a href=""><img src="__PUBLIC__/User/images/logo.png" alt=""></a>
        </div>
        <div class="fl footer-nav-link">
            <dl>
                <dt class="dt">About Keywa</dt>
                <dd><a class="a-link" href="">About us</a></dd>
                <dd><a class="a-link" href="">Contact us </a></dd>
                <dd><a class="a-link" href=""> News & Media Report </a></dd>
                <dd><a class="a-link" href="">Terms of Use </a></dd>
                <dd><a class="a-link" href="">Legal stat</a></dd>
            </dl>
        </div>
        <div class="fl worktime">
            <p class="tel">4008-488-999</p>
            <div class="time">Online:  9:00 ~ 17:00   ( Mon. - Fri. ) </div>
        </div>
        <div class="fr lang-link">
            <p class="tips">Language</p>
            <p class="alink">
                <a class="lang-sp"><i class="icon-cn"></i>中文</a>
                <a class="lang-sp"><i class="icon-en"></i>English</a>
            </p>
        </div>
    </div>

    <div class="copyright">Keywa.com © Copyright 2016 Keywa Inc. All rights reserved. <span class="icp">ICP No.:GuangDong14005764</span></div>

    </div>
</div>

</body> 
    <script src="__PUBLIC__/User/lib/jquery/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__/User/js/member-index.js"></script>
</html>