.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 640px;
  overflow: hidden;
  height: 100%; }

.content {
  position: absolute;
  top: 125px;
  height: -webkit-calc(100% - 90px - 125px);
  height: calc(100% - 90px - 125px);
  overflow-y: scroll; }

.info {
  width: 100%;
  margin: 0 auto; }

.details {
  padding: 0 .3rem;
  color: #333; }
  .details .law-title {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .35rem; }
  .details .main-text {
    text-align: justify; }
    .details .main-text.single-text {
      margin-top: .3rem; }
  .details .second-title {
    margin-top: .5rem;
    font-weight: bold; }
